@model MVCStudList.Models.Group

@{
    ViewBag.Title = "Usuń grupę";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuń grupę</h2>

<h3>Czy jesteś pewien, że chcesz usunąć tę grupę?</h3>
<div>
    <h4>Grupa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
