@model MVCStudList.Models.Group

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Szczegóły grupy</h2>

<div>
    <h4>Grupa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Powróć do listy", "Index")
</p>
