@model MVCStudList.Models.StudentListModel

@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    <div class="col-lg-6">
        <button type="button" class="btn btn-default btn-block">Studenci</button>
    </div>
    <div class="col-lg-6">
        <button type="button" class="btn btn-default btn-block">Grupy</button>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6">
                    <label>Grupa:</label>
                </div>
                <div class="col-sm-6">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Dropdown Example
                            <span class="caret"></span>
                        </button>
                        @Html.DropDownListFor(m => m.GroupID, new SelectList(Model.Groups, "IDGroup", "Name"))
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label>Miasto:</label>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="usr">
                    </div>           
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-default btn-block">Grupy</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-default btn-block">Grupy</button>
                </div>
            </div>
        </div>
    </div>




</div>