@model MVCStudList.Models.StudentListModel
@*@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@

@{
    ViewBag.Title = "MVC Students List";
}

<hr />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-4">
                    <label>Grupa:</label>
                </div>
                <div class="dropdown col-sm-8">
                    @Html.DropDownListFor(m => m.GroupID, new SelectList(Model.Groups, "IDGroup", "Name"))
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>Miasto:</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <input type="text" class="form-control" id="usr">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-success btn-block" id="ClearBtn">Wyczyść</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-success btn-block" id="FilterBtn">Filtruj</button>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <iframe src='@Url.Action("StudentsList", "Home")' width="100%" height="800px" frameborder="0" scrolling="no"></iframe> 
    </div>
    <hr/>

</div>